body{
	background-image: url("images/pub.jpg");
	size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}
.logo{
	font-family:'Lexend Giga', sans-serif;
	color: aqua;
	font-size: 20px;
	position: absolute; top: 5px; left: 5px;
	padding: 20 10 20 10;
	border: 2px solid white;
}